<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Habilidades</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body class="bg-black bg-gradient">
    <header>
        <h1>Gabriel Diaz</h1>
        <p>Desarrollador Web y Configurador</p>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="proyectos">Proyectos</a></li>
            <li><a href="habilidades">Habilidades</a></li> <!-- Enlace a la página de habilidades -->
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    
    <section id="habilidades">
        <h2>Mis Habilidades</h2>
        
        <ul>
            <li>Configuracion de Servidores (Minecraft)</li> </br>
            <li>Moderador De Minecraft Servers y Discord Servers</li> </br>
            <li>Conocimientos Basicos Sobre Discord.js</li> </br>
            <li>Conocimientos Basicos Sobre HTML y CSS (En Proceso De Aprendizaje)</li> </br>
            <li>Administracion De Mantenimiento de Servicios De Hosting</li> </br>
        </ul>
    </section>
    
    <!-- Pie de página -->
    <footer class="bg-black text-center text-white">
        <p>&copy; 2023 Gabriel Diaz</p>
    </footer>
</body>
</html>
