<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gabriel Diaz Web</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    </head>
    <body class="bg-black bg-gradient">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4169138238228054"
     crossorigin="anonymous"></script>
        <header>
            <h1>Gabriel Diaz</h1>
            <p1>Desarrollador Web y Configurador</p1>
            <!-- Botón para abrir y cerrar el menú -->
            <button class="btn btn-outline-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">☰</button>
        </header>

        <!-- Menú extensible -->
        <nav class="offcanvas offcanvas-start bg-dark text-white" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menu</h5>
                <button type="button" class="rounded-circle btn btn-outline-danger text-white bg-transparent" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav mb-2 mb-lg-0 gap-3">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="Proyectos">Proyectos</a></li>
                    <li><a href="habilidades">Habilidades</a></li>
                    <li><a href="contacto">Contacto</a></li>
                </ul>
            </div>
        </nav>
    <section class="container bg-transparent text-white">
        <section id="acerca">
            <h2 class="text-center mb-5">Acerca de Mí</h2>
            <p>Me llamo Marcelo Gabriel Cubillas Diaz y soy Desarrollador web (en aprendizaje), Soporte en Clanky Hosting, Configurador de Servidores De Mc y Traductor
            de Plugins Para Minecraft, Trabaje en Varios Proyectos Tanto propios como de amigos y/o terceros. </p>
        </section>
        
        <!-- En proyectos.html -->
    <h2 class="text-center mb-5">Proyectos Destacados</h2>
    <div class="row gap-5">
        <div class="card bg-dark text-white shadow col-12">
            <div class="card-body">
                <h3 class="card-title">KrakenMc Network (Minecraft Server)</h3>
                <p class="card-text">Servidor De Mc Inspirado en las modalidades Del PotPvp Click en ver Proyecto para mas Informacion.</p>
                <a class="btn btn-primary" href="kraken">Ver proyecto</a> <!-- Agrega el enlace a KrakenMC.html -->
            </div>
        </div>
        
    <div class="row gap-5">
        <div class="card bg-dark text-white shadow col-12">
            <div class="card-body">
                <h3 class="card-title">TimerPvp Network (Minecraft Server)</h3>
                <p class="card-text">Servidor De Mc Inspirado en las modalidades Del PotPvp Click en ver Proyecto para mas Informacion.</p>
                <a class="btn btn-primary" href="Krakenmc.ejs">Ver proyecto</a> <!-- Agrega el enlace a KrakenMC.html -->
            </div>
        </div>
    
    <section id="contacto">
        <h2>Contacto</h2>
        <p>Puedes contactarme en <a href="mailto:cubillas601@gmail.com">cubillas601@gmail.com</a></p>
    </section>
    <h2 class="text-center mb-1">Agradecimientos Especiales Para Los Chicos De ClankyHost y a AlexK de DevBash Que Me Ayudaron Con la Pagina</h2>

    <footer class="bg-black text-center text-white">
        <p>&copy; 2023 Gabriel Diaz</p>
    </footer>
    </body>
    <script src="/assets/js/menu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>