<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KrakenMc - Proyecto</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <header>
        <h1>KrakenMc</h1>
        <p>Descripción de tu proyecto KrakenMc</p>
    </header>
    
    <nav>
        <ul>
            <li><a href="index">Inicio</a></li>
            <li><a href="Proyectos">Proyectos</a></li>
            <li><a href="habilidades">Habilidades</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </nav>
    
    <section>
        <h2>KrakenMC Network</h2>
        <p>En esta sección, puedes proporcionar detalles sobre tu proyecto KrakenMc. Describe su propósito, tecnologías utilizadas, características destacadas y cualquier otra información relevante.</p>
    </section>
    
    <!-- Puedes agregar más secciones con detalles adicionales de tu proyecto aquí -->

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2023 Tu Nombre</p>
    </footer>
</body>
</html>
